@import "tailwindcss";

:root {
  --background: white;
  --text-color: black;
}

[data-theme='dark'] {
  --background: #222831;
  --text-color: white;
}

body {
  background: var(--background);
  color: var(--text-color);
}