@import "tailwindcss";

:root {
  --background: #F9F7F7;
  --secondary: #DBE2EF;
  --tertiary: #3F72AF;
  --accent: #F9F7F7;
  --text-color: black;
}

[data-theme='dark'] {
  --background: #0A0D27;
  --secondary: #161931;
  --tertiary: #485665;
  --accent: #9874F6;
  --text-color: white;
}

body {
  background: var(--background);
  color: var(--text-color);
}